<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <video autoplay muted loop>
        <source src="{{ url_for('static', filename='images.mp4') }}" type="video/mp4">
       
    </video>
    <div class="container">
        <h1>Weather App</h1>
        <form action="/weather" method="post">
            <input type="text" name="city" placeholder="Enter city name" required>
            <button type="submit">Get Weather</button>
        </form>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>




